<a href="https://colab.research.google.com/github/WibowoAdiSaputro/Rekomendation-System/blob/main/Rekomendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
import re
import random

df = pd.read_csv("https://raw.githubusercontent.com/WibowoAdiSaputro/Rekomendation-System/main/datarekomendasi_textmining%20-%20Sheet1.csv")
df.head()

,mitra,alamat,modul
0,PT Orbit Ventura Indonesia,"Veteran RI Building 15th Floor Unit\nZ15-002, ...",Project AI Metode Penelitian AI Pemrograma...
1,PT Nurul Fikri Cipta Inovasi,Jl. Situ Indah No.116 RT. 006 \nRW. 010 Kel. T...,Desain Web Git/Github Javascript Laravel...
2,PT MariBelajar Indonesia \nCerdas,"Jln Tunggul Ametung IVa no 8, \nDesa Ubung Kaj...",Microsoft 365 Fundamentals Microsoft Azure F...
3,Akademi Mobile App Developer PT Nurul Fikri Ci...,Jl. Situ Indah No.116 RT. 006 RW. 010 Kel. Tug...,Soft Skill. Mampu menjelaskan pengertian komun...
4,Data Analytics PT Zona Edukasi Nusantara,"Graha Aktiva, Ground Floor, Jalan HR Rasuna Sa...",Membaca dan Meninjau Jurnal. Peserta mampu mem...

In [2]:
df.describe()

,mitra,alamat,modul
count,11,11,11
unique,11,11,11
top,PT Orbit Ventura Indonesia,"Veteran RI Building 15th Floor Unit\nZ15-002, ...",Project AI Metode Penelitian AI Pemrograma...
freq,1,1,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mitra   11 non-null     object
 1   alamat  11 non-null     object
 2   modul   11 non-null     object
dtypes: object(3)
memory usage: 392.0+ bytes

In [4]:
def print_description(index):
    example = df[df.index == index][['modul', 'mitra','alamat']].values[0]
    if len(example) > 0:
        print(example[0])
        print('mitra:', example[1])
        print('alamat:', example[2])

In [5]:
print_description(1)

Desain Web   Git/Github   Javascript   Laravel   Database MYSQL   PHP   REST API   UI/UX   Soft Skill   Final Project
mitra: PT Nurul Fikri Cipta Inovasi
alamat: Jl. Situ Indah No.116 RT. 006
RW. 010 Kel. Tugu, Kec. Cimanggis,
Kota Depok, Jawa Barat

In [6]:
print_description(3)

Soft Skill. Mampu menjelaskan pengertian komunikasi interpersonal yang baik. Mampu menentukan penyelesaian masalah yang paling tepat dari berbagai alternatif pemecahan masalah yang ditemukan. Mampu menjalankan suatu komitmen secara bersama agar bisa mencapai tujuan yang sama pula. Mampu memahami pengertian, tujuan dan prinsip-prinsip manajemen waktu serta dapat menentukan urutan prioritas. Mampu menjelaskan lingkup kreativitas, pola dan proses berfikir kreatif untuk menemukan cara pemecahan masalah dan pengambilan keputusan. Pada pembelajaran individu, peserta akan mengikuti pembelajaran dengan mendengarkan tutorial dan kuliah dari pengajar.Materi ini mengajarkan Komunikasi Interpersonal (Communication Interpersonal), Problem Solving, Kerjasama Tim (Teamwork), Manajemen Waktu, Creative Thinking. UI/UX. Mampu mengimplementasikan desain prototype di Figma menuju Flutter. Tutorial dalam bentuk presentasi dan diskusi. Mahasiswa membaca materi, mengikuti penjelasan mentor, dan mengerjakan tugas-tugas sebagai berikut: Pengertian UI/UX, Teori UI Dasar, Teori UX Dasar, Pengenalan Figma dan dasar prototyping di Figma, Pengenalan Design Guidelines, Material Design Guideline, Appleâ€™s Human Interface Guidelines, Implementasi prototype di Figma ke Flutter. Design Pattern. Mampu mengimplementasikan Design Pattern pada proyek Flutter. Tutorial dalam bentuk presentasi dan diskusi. Mahasiswa membaca materi, mengikuti penjelasan mentor, dan mengerjakan tugas-tugas sebagai berikut: Pengenalan Clean Code, Penjelasan design pattern, Penjelasan struktur proyek yang baik, Implementasi MVP Design pattern, Implementasi MVVM Design pattern. Pemrograman mobile. Mampu mengimplementasikan pemrograman mobile dengan Flutter. Code Versioning. Mampu mengimplementasikan Git dan fitur-fitur dasarnya pada proyek Flutter. Dasar-dasar Pemrograman. Mampu menulis, menjelaskan, dan mengoperasikan kodingan dengan baik menggunakan bahasa pemrograman Dart. Databases. Mampu mengimplementasikan Firebase sebagai autentikasi user dan database untuk aplikasi Flutter.
mitra: Akademi Mobile App Developer PT Nurul Fikri Cipta Inovasi
alamat: Jl. Situ Indah No.116 RT. 006 RW. 010 Kel. Tugu, Kec. Cimanggis, Kota Depok, Jawa Barat

In [7]:
print_description(5)

Text Mining   Machine Learning   Basis Data   Pemrograman Web   Jejaring Sosial   Web Service   Pemrograman Aplikasi Mobile
Rekayasa Perangkat Lunak
mitra: Wibowo Adi Saputro
alamat: Desa Johorejo Rt 05 Rw 02 Kec. Gemuh Kab. Kendal Jawa tengah

In [8]:
import nltk
nltk.download('stopwords')
clean_spcl = re.compile('[/(){}\[\]\|@,;]')
clean_symbol = re.compile('[^0-9a-z #+_]')
#stopworda = set(stopwords.words('english'))

def clean_text(text):
    """
        text: a string
        
        return: modified initial string
    """
    text = text.lower() # lowercase text
    text = clean_spcl.sub(' ', text)
    text = clean_symbol.sub('', text)
    #text = ' '.join(word for word in text.split() if word not in stopworda) # hapus stopword dari kolom deskripsi
    return text
    
df['modul_pembelajaran_clean'] = df['modul'].apply(clean_text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [9]:
df.head()

,mitra,alamat,modul,modul_pembelajaran_clean
0,PT Orbit Ventura Indonesia,"Veteran RI Building 15th Floor Unit\nZ15-002, ...",Project AI Metode Penelitian AI Pemrograma...,project ai metode penelitian ai pemrograma...
1,PT Nurul Fikri Cipta Inovasi,Jl. Situ Indah No.116 RT. 006 \nRW. 010 Kel. T...,Desain Web Git/Github Javascript Laravel...,desain web git github javascript laravel...
2,PT MariBelajar Indonesia \nCerdas,"Jln Tunggul Ametung IVa no 8, \nDesa Ubung Kaj...",Microsoft 365 Fundamentals Microsoft Azure F...,microsoft 365 fundamentals microsoft azure f...
3,Akademi Mobile App Developer PT Nurul Fikri Ci...,Jl. Situ Indah No.116 RT. 006 RW. 010 Kel. Tug...,Soft Skill. Mampu menjelaskan pengertian komun...,soft skill mampu menjelaskan pengertian komuni...
4,Data Analytics PT Zona Edukasi Nusantara,"Graha Aktiva, Ground Floor, Jalan HR Rasuna Sa...",Membaca dan Meninjau Jurnal. Peserta mampu mem...,membaca dan meninjau jurnal peserta mampu memb...

In [10]:
# Tampilan kedua (Setelah preprocessing)
def print_description_clean(index):
    example = df[df.index == index][['modul_pembelajaran_clean', 'mitra','alamat']].values[0]
    if len(example) > 0:
        print(example[0])
        print('mitra:', example[1])
        print('alamat:', example[2])

In [11]:
print_description_clean(1)

desain web   git github   javascript   laravel   database mysql   php   rest api   ui ux   soft skill   final project
mitra: PT Nurul Fikri Cipta Inovasi
alamat: Jl. Situ Indah No.116 RT. 006
RW. 010 Kel. Tugu, Kec. Cimanggis,
Kota Depok, Jawa Barat

In [14]:
print_description_clean(4)

membaca dan meninjau jurnal peserta mampu membaca jurnal ilmiah untuk mendapatkan temuan utama peserta mampu menuliskan annotated bibliography dari jurnal ilmiah yang dibacapeserta mampu menuliskan critical review dari beberapa jurnal ilmiah untuk menemukan sintesis temuan utama dari setiap jurnal dasardasar data science  python  statistik  visualisasi data  dan analisis data pemodelan statistik  database sql query  pembuatan data dashboard peserta mampu membuat pemodelan statistik untuk permasalah regresi dan klasifikasi peserta mampu memecahkan masalah dengan pemodelan statistik peserta dapat mengolah database dan menarik data dari database dengan sql peserta mampu membuat dashboard data peserta memahami kontribusi data science dalam perkembangan bisnis dan pengambilan keputusan
mitra: Data Analytics PT Zona Edukasi Nusantara
alamat: Graha Aktiva, Ground Floor, Jalan HR Rasuna Said Kav. 03, East Kuningan, Setiabudi, South Jakarta, 12950, Indonesia

In [13]:
print_description_clean(5)

text mining   machine learning   basis data   pemrograman web   jejaring sosial   web service   pemrograman aplikasi mobile   rekayasa perangkat lunak
mitra: Wibowo Adi Saputro
alamat: Desa Johorejo Rt 05 Rw 02 Kec. Gemuh Kab. Kendal Jawa tengah

In [15]:
df.set_index('mitra', inplace=True)
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(df['modul_pembelajaran_clean'])
cos_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cos_sim

array([[1.        , 0.01287977, 0.01116645, 0.0195518 , 0.00518287,
        0.02392018, 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.01287977, 1.        , 0.0110947 , 0.04268976, 0.00954252,
        0.030729  , 0.        , 0.        , 0.00254011, 0.        ,
        0.05318995],
       [0.01116645, 0.0110947 , 1.        , 0.01195044, 0.        ,
        0.        , 0.        , 0.        , 0.0017588 , 0.04170839,
        0.        ],
       [0.0195518 , 0.04268976, 0.01195044, 1.        , 0.12022644,
        0.02719724, 0.09135869, 0.02596252, 0.122684  , 0.03585742,
        0.0039131 ],
       [0.00518287, 0.00954252, 0.        , 0.12022644, 1.        ,
        0.02588876, 0.05961961, 0.0092215 , 0.15913507, 0.03626245,
        0.01896292],
       [0.02392018, 0.030729  , 0.        , 0.02719724, 0.02588876,
        1.        , 0.        , 0.        , 0.        , 0.01545636,
        0.        ],
       [0.        , 0.        , 0.        , 0.09135869, 0.05961961,
        0.        , 1.        , 0.0542497 , 0.05719007, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.02596252, 0.0092215 ,
        0.        , 0.0542497 , 1.        , 0.00590808, 0.        ,
        0.        ],
       [0.        , 0.00254011, 0.0017588 , 0.122684  , 0.15913507,
        0.        , 0.05719007, 0.00590808, 1.        , 0.00527729,
        0.        ],
       [0.        , 0.        , 0.04170839, 0.03585742, 0.03626245,
        0.01545636, 0.        , 0.        , 0.00527729, 1.        ,
        0.        ],
       [0.        , 0.05318995, 0.        , 0.0039131 , 0.01896292,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        ]])

In [16]:
# Set index utama di kolom 'mitra'
indices = pd.Series(df.index)
indices[:50]

0                            PT Orbit Ventura Indonesia
1                          PT Nurul Fikri Cipta Inovasi
2                     PT MariBelajar Indonesia \nCerdas
3     Akademi Mobile App Developer PT Nurul Fikri Ci...
4              Data Analytics PT Zona Edukasi Nusantara
5                                    Wibowo Adi Saputro
6            Accounting PT Simplefi Teknologi Indonesia
7      AI & Blockchain Infrastructure Specialist, Dikti
8                             2D Artist PT GIT SOLUTION
9                     PT Telkom Indonesia (Persero) Tbk
10                  PT Abbauf Mulia Konsultan Teknologi
Name: mitra, dtype: object

In [17]:
def recommendations(name, cos_sim = cos_sim):
    
    recommended_modul = []
    
    # Mengambil nama modul berdasarkan variabel indicies
    idx = indices[indices == name].index[0]

    # Membuat series berdasarkan skor kesamaan
    score_series = pd.Series(cos_sim[idx]).sort_values(ascending = False)

    # mengambil index dan dibuat 3 baris rekomendasi terbaik
    top_10_indexes = list(score_series.iloc[1:4].index)
    
    for i in top_10_indexes:
        recommended_modul.append(list(df.index)[i])
        
    return recommended_modul

In [18]:
recommendations('Wibowo Adi Saputro')

['PT Nurul Fikri Cipta Inovasi',
 'Akademi Mobile App Developer PT Nurul Fikri Cipta Inovasi',
 'Data Analytics PT Zona Edukasi Nusantara']

In [19]:
recommendations('PT Telkom Indonesia (Persero) Tbk')

['PT MariBelajar Indonesia \nCerdas',
 'Data Analytics PT Zona Edukasi Nusantara',
 'Akademi Mobile App Developer PT Nurul Fikri Cipta Inovasi']

In [20]:
recommendations('PT Nurul Fikri Cipta Inovasi')

['PT Abbauf Mulia Konsultan Teknologi',
 'Akademi Mobile App Developer PT Nurul Fikri Cipta Inovasi',
 'Wibowo Adi Saputro']